{% load static %}
<footer>
    <div class="container">
    <div class="row">
        <div class="col-lg-3">
        <div class="about footer-item">
            <div class="logo">
            <a href="#"><img src="{% static 'images/graspy_logo.jpg' %}" alt="graspy_logo"></a>
            </div>
            <a href="#">graspy☘️diix.info</a>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="services footer-item">
            <h4>Services</h4>
            <ul>
            <li><a href="https://mentalcheck.graspy.life/check/">メンタルチェック</a></li>
            <li><a href="https://lp.graspy.life/">カジュアルカウンセリング</a></li>
            </ul>
        </div>
        </div>
        <div class="col-lg-12">
        <div class="copyright">
            <p>Copyright © 2022 Diix LLC. All Rights Reserved.</p>
        </div>
        </div>
    </div>
    </div>
</footer>