{% load static %}
<footer>
    <div class="container">
    <div class="row">
        <div class="col-lg-3">
        <div class="about footer-item">
            <div class="logo">
            <a href="#"><img src="{% static 'images/graspy_logo.jpg' %}" alt="graspy_logo"></a>
            </div>
            <a href="#">graspy☘️diix.info</a>
            <ul>
            <li><a href="https://twitter.com/graspy_life" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="services footer-item">
            <h4>Services</h4>
            <ul>
            <li><a href="http://gentle-reef-85237.herokuapp.com/">メンタルチェック</a></li>
            <li><a href="https://www.graspy.life/">カジュアルカウンセリング</a></li>
            </ul>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="community footer-item">
            <h4>Community</h4>
            <ul>
            <li><a href="#"></a></li>
            </ul>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="subscribe-newsletters footer-item">
            <h4>Safety</h4>
            <ul>
            <li><a href="privacy.html">プライバシーポリシー</a></li>
            <li><a href="terms_of_service.html">利用規約</a></li>
            </ul>
        </div>
        </div>
        <div class="col-lg-12">
        <div class="copyright">
            <p>Copyright © 2022 Diix LLC. All Rights Reserved.</p>
        </div>
        </div>
    </div>
    </div>
</footer>